.allElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 4px;
  border-color: gray;
  border-style: double;
  width: 100%;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  border-width: 5px;
  border-color: gray;
  border-style: double;
  /* padding: 20px 90px; */
  width: 1500px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  /* background-color: green; */
  border-width: 5px;
  border-color: gray;
  border-style: double;
  /* padding: 20px 90px; */
  width: 1500px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 745px;
  border-width: 5px;
  border-color: gray;
  border-style: double;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 745px;
  border-width: 5px;
  border-color: gray;
  border-style: double;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-color: gray;
  border-style: double;
  height: 192px;
  width: 745px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-color: gray;
  border-style: double;
  width: 1500px;
  height: 80px;
}
